body, html {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;    
    color: #343127;
    font-size: 18px;
}

body {
    background-color: #ffffff;
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding-top: 20px;
    background-image: url('assets/fade.png');
    background-size:contain;
    background-repeat: no-repeat;    
    background-position-y: 90%;
}

header img {
    width: 37.5%;
}

.intro {
    padding: 20px 20px 40px 20px;
    text-align: justify;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    flex: 1;
    flex-direction: column;
    padding-bottom: 40px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    background-image: url('assets/fade.png');
    background-size:contain;
    background-repeat: no-repeat;
    color: #343127;
    opacity: 0.5;
    padding: 20px;
}

footer div {
    padding: 0 20px;
}

.brands {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    flex: 1;
}

.events {
   padding: 20px 20px 40px 20px;
   width: 90%;
}

.brand-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.brand {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.brand-description {
    margin: 0 20px;
    text-align: justify;
}

.brand a {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    text-decoration: none;
    color: #343127;
    text-align: center;
    font-size: 24px;
    letter-spacing: .01em;
}

.brand a:hover {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    letter-spacing: .1em;
}

.brand img {
    width: 75%;
}

footer a {
    text-decoration: none;
    color: #343127;
}

h2 {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 600;
    font-style: normal;
    font-size: calc(min(6vw, 2em));
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
    color: #343127;
    mix-blend-mode: multiply;
    opacity: .9;
}

@media (max-width: 479px) {
    .brand-container {
        flex-direction: column;
    }
    .brand {
        width: 100%;
    }
}

@media (max-width: 649px) {
    footer {
        flex-direction: column;
    }
}

.brand-image {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.brand-image:hover {
    -webkit-transform: rotate(15deg) scale(1.4);
    transform: rotate(15deg) scale(1.4);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.25);
}

.row {
    display: flex;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;
}

.row:last-child {
    border-bottom: none;
}

.row.header {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: bold;
}

.cell {
    flex: 1;
    min-width: 100px;
    text-align: left;
    padding: 5px 0;
}

.row:not(.header):hover {
    background-color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 600px) {
    .row.header {
        display: none;
    }

    .row:not(.header):hover {
        background-color: transparent;
    }

    .row {
        flex-direction: column;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 6px;
    }

    .cell {
        flex: none;
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        text-align: left;
    }

    .cell::before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 10px;
    }
}